*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
}
* *::before, *::after{
    box-sizing: border-box;
}
html, body{
    scroll-behavior: smooth;
}
:root{
    --bg-light: #f9f9f9;
    --bg-dark: #111;

    --light-theme: #111;
    --dark-theme: #fff;

    --logo-light: #ff5c5c;
    --logo-dark: #ff9f43;

    --a-hover: #ff5c5c;
    --a-dark-hover: #ff9f43;

    --moon: #B0C4DE;

    --div-dark: #1e1e1e;
}
header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    height: 60px;
    align-items: center;
    background: rgba(255,255,255,0.9);
    z-index: 1000;
    .Logo{
        font-size: 26px;
        margin-left: 20px;
        font-weight: bold;
        a{
            text-decoration: none;
            transition: 0.4s;
            color: var(--logo-light);
        }
    }
    nav{
        font-size: 18px;
    }
    nav a{
        text-decoration: none;
        font-weight: bold;
        margin-left: 10px;
        cursor: pointer;
        color: var(--light-theme);
        transition: 0.4s;
        &:hover{
            color: var(--a-hover);
        }
    }
}
.menu-toggle{
    display: none;
    font-size: 30px;
    cursor: pointer;
}
.moon-icon{
    width: 73px;
    height: 64px;
    margin-top: 12px;
    margin-right: 23px;
    transition: 0.4s;
    filter: drop-shadow(0 0 10px #B0C4DE);
    color: var(--moon);
    &:hover{
        cursor: pointer;
        color: var(--light-theme);
        filter: drop-shadow(0 0 10px black);
    }

}
body{
    transition: 0.4s;
    background-color: var(--bg-light);
}
body.dark{
    background-color: var(--light-theme);
    .moon-icon{
        filter: drop-shadow(0 0 10px #B0C4DE);
        color: var(--moon);
        &:hover{
            filter: drop-shadow(0 0 10px color var(var(--dark-theme)));
            color: var(--dark-theme);
        }
    }
    .menu-toggle{
        color: var(--dark-theme);
    }
    .Logo a{

        color: var(--logo-dark);
    }
    header{
        background: rgba(20,20,20,0.9);
    }
    a{
        transition: 0.4s;
        color: var(--dark-theme);
        &:hover{
            color: var(--a-dark-hover);
        }
    }
    .lang-btn{
        background-color: rgba(245, 245, 245, 0.397);
        color: var(--dark-theme);
    }
    h1{
        color: var(--logo-dark);
    }
    h2{
        color: var(--logo-dark);
    }
    h4{
        color: var(--logo-dark);
    }
    .information{
        background-color: var(--div-dark);
    }
    p{
        color: var(--dark-theme);
    }
    .review{
        background-color: #444;
        color: white;
    }
    .review strong{
        color: var(--logo-dark);
    }
    .buttons{
        filter: drop-shadow(0 0 10px white);
    }
}
.lang-container{
    position: relative;
    left: 150px;
    &:hover .lang-menu{
        opacity: 1;
        visibility: visible;
    }
    .lang-menu{
        position: absolute;
        display: flex;
        top: 100%;
        left: 0;
        background-color: #444;
        transition: opacity 0.3s ease, visibility 0.3s ease;
        border-radius: 5px;
        width: 70px;
        height: 85px;
        opacity: 0;
        visibility: hidden;
        flex-direction: column;
        margin-top: 4px;
        li{
            list-style: none;
            margin-top: 4px;
            margin-left: 4px;
            a{
                text-decoration: none;
                color: #fff;
            }
            &:hover{
                cursor: pointer;
                background-color: #5c5b5bad;
            }
        }
    }
    .lang-btn{
        background-color: #444;
        color: #fff;
        border: none;
        border-radius: 5px;
        width: 35px;
        height: 23px;
    
    }
}

.About{
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
}
h1{
    margin-left: 30px;
    margin-top: 30px;
    margin-bottom: 5px;
    color: var(--logo-light);
}
h3{
    margin-bottom: 10px;
    color: var(--logo-light);
}
.information{
    display: flex;
    position: relative;
    justify-content: space-between;
    border-radius: 15px;
    margin-top: 90px;
    width: 95%;
    height: 500px;
    background-color: #fff;
    box-shadow: 0 0 30px grey;
    p{
        position: absolute;
        top: 73px;
        padding-top: 30px;
        padding-left: 10px;
        font-size: 14.6px;
        font-weight: bold;
    }

}
h2{
    transform: translate(80px, 40px);
    color: var(--logo-light);
    margin-bottom: 20px;
    z-index: -1;
}

.container { 
     display:flex;
     justify-content: center;
     align-items: center;
     position: relative;
     margin-top: 30px;
     }
.card { 
    display: none; 
    max-height: 800px;
    width: 90%;
    padding: 20px; 
    border-radius: 10px; 
    text-align: center;
    margin-bottom: 30px;
    z-index: -1;
     p{
        margin-top: 10px;
     }
}
.card img { 
    width: 100%;
    height: 600px;
    object-fit: cover;
    border-radius: 10px;

}
.card.active {
    display: block;
}
.buttons { 
     position: absolute; 
     width: 100%; 
     top: 50%; 
     display: flex; 
     justify-content: space-between; 
}
button:nth-child(1){
    margin-left: 40px;
}
button:nth-child(2){
    margin-right: 40px;
}
.buttons button { 
    color: white; 
    border: none;
    background-color: rgba(3, 3, 3, 0.548);
    border-radius: 5px;
    padding: 6px; 
    font-size: 18px; 
    cursor: pointer; 
    &:hover{
     transform: scale(1.1);
}
     &:active{
        transform: scale(1);
    }
}
.Review-section{
    height: 400px;
    overflow: hidden;
    overflow-y: auto;
    position: relative;
    h4{
        font-size: x-large;
        font-weight: bold;
        color: var(--logo-light);
        margin-left: 125px;
    }
    input{
        border: none;
        background-color: rgba(0, 0, 0, 0.329);
        color: white;
        border-radius: 15px;
        font-size: 17px;
        font-weight: bold;
        height: 40px;
        width: 1120px;
        padding-left: 3px;
    }
}
.review-div{
    position: absolute;
    top: 160px;
    left: 140px;
}
.review {
    background: #f8f8f8;
    padding: 10px;
    border-radius: 5px;
    margin-top: 10px;
    text-align: left;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.review strong {
    color: var(--logo-light);
}
.reviews-p{
    position: absolute;
    top: 45px;
    left: 140px;
    font-size: 20px;
    color: var(--light-theme);
}
.rating{
    display: flex;
    position: absolute;
    top: 80px;
    left: 140px;
    font-size: 50px;
    gap: 4px;
    .star{
        color: gray;
        cursor: pointer;
        transition: 0.3s;
    }
    .star:hover,
    .star.hovered,
    .star.selected {
        color: gold;
    }
}
.s{
    transform: translateY(43px);
    height: 550px;
}
h5{
    display: flex;
    position: relative;
    top: 40px;
    color: white;
    text-shadow: 0 0 10px #000000;
    justify-content: center;
    transform: scale(2);
    z-index: 100;
}
.gallery-img {
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.carousel{
    display: flex;
    position: relative;
    justify-content: center;
    overflow: hidden;
    margin-right: 10px;
    top: 100px;
    height: 300px;
    width: 200px;
    border-radius: 12px;
}
.carousel img{
    position: absolute;
    object-fit: cover;
    border-radius: 12px;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}
.carousel img.Active{
    opacity: 1;
}
.gallery-img img, .gallery-img video {
    position: absolute;
    width: 99%;
    height: 100%;
    object-fit: cover;
    border-radius: 13px;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}
.gallery-img img.active, .gallery-img video.active {
    opacity: 1;
}

.slice-animation {
    position: absolute;
    width: 100%;
    height: 100%;
    transform-origin: top;
    animation: sliceOut 1s ease-in-out forwards;
}
footer{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    transform: scale(1.2);
    height: 40px;
    background-color: #444;
}
.map-section{
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    height: 600px;
    .map{
        border-radius: 12px;
        margin-right: 6px;
    }
    .map-text{
        font-size: 19px;
        margin-left: 5px;
    }
    .map-title{
        position: absolute;
        top: 50px;
        left: 10px;
    }
}
.Contacts{
    position: relative;
    height: 200px;
    margin-top: 90px;
}
.Contacts-title{
    position: absolute;
    top: -60px;
    left: 20px;
}
.email{
    position: relative;
    left: 43px;
    font-size: 20px;
    display: flex;
    gap: 5px;
    margin-top: 30px;
    a{
        text-decoration: none;
        color: white;
        text-shadow: 0 0 5px black;
        &:hover{
            text-decoration: underline;
            transform: scale(1.04);
        }
    }
}
.contacts-p{
    position: relative;
    left: 60px;
    font-size: 20px;
}
.social-media{
    position: absolute;
    left: 85px;
    top: 40px;
    display: flex;
    gap: 15px;
    a{
    transition: 0.4s;
    }
    a:hover{
        transform: translateY(-4px);
        
    }
}
.media-content{
    position: relative;
    align-items: center;
}
.administration{
    position: relative;
    left: 550px;
    top: -20px;
    font-size: 18px;
}
.media-title{
    transform: translate(60px, 20px);
}
@keyframes sliceOut {
    0% { transform: scaleX(1); opacity: 1; transform-origin: right; }
    100% { transform: scaleX(0); opacity: 0; transform-origin: right; }
}
@media(max-width: 768px){
    .menu-toggle{
        display: flex;
        transition: 0.5s;
    }
    nav{
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background: inherit;
        flex-direction: column;
        display: none;
        a{
            margin-top: 7px;
            &:nth-child(5){
                margin-bottom: 6px;
            }
            &:hover{
                background-color: #6e66667c;
                border-radius: 5px;
                margin-left: 5px;
            }
        }
    }
    nav.show{
        display: flex;
    }
    .lang-container{
        transform: translateX(-160px);
    }
}
/*Работает корректно только на 13 Iphone*/
@media(max-width: 480px){
    .Logo{
        position: relative;
        left: 40px;
        transform: scale(1);
    }
    .menu-toggle{
        position: relative;
        left: -230px;
    }
    h5[data-text="Welcome"]{
        transform: scale(1.5);
    }
    .moon-icon{
        transform: translateX(10px);
    }
    .lang-container{
        transform: translateX(-150px);
    }
    h5{
        margin-left: 10px;
    }
    .gallery-img{
        margin-left: 10px;
    }
    .container{
        width: 106%;
    }
    .carousel{
        opacity: 0;
    }
    .information{
        margin-left: 20px;
    }
    p[data-text="about-text"]{
        transform: translateY(-20px);
        font-size: 12px;
    }
    .map-text[data-text="map-text"]{
        margin-top: 120px;
        font-size: 12px;
    }
    .map{
        width: 98%;
        margin-top: 5px;
        margin-left: 20px;
    }
    .map-section{
        display: flex;
        flex-direction: column;
    }
    h4[data-text="Reviews"]{
        margin-top: 30px;
        margin-left: 20px;
    }
    p[data-text="Share with us"]{
        font-size: 10px;
        position: relative;
        top: 5px;
        left: 10px;
    }
    .rating{
        font-size: 27px;
        position: relative;
        top: 10px;
        left: 15px;
    }
    .Review-section{
        input{
            width: 360px;
        }
    }
    .review-div{
        position: relative;
        width: 360px;
        top: 30px;
        left: 20px;
    }
    h1[data-text="Contacts"]{
        position: relative;
        left: 4px;
    }
    p[data-text="contacts-p"]{
        position: relative;
        top: -50px;
        left: 10px;
        font-size: 12px;
    }
    h2[data-text="media-title"]{
        position: relative;
        left: -30px;
        top: -60px;
    }
    .media-content{
        position: relative;
        top: -60px;
        left: -40px;
        display: block;
        .email{
            font-size: 15px;
        }
        .social-media{
            position: relative;
            top: -20px;
            left: 70px;
            transform: scale(1.1);
        }
        p[data-text="administration"]{
            position: relative;
            left: 220px;
            font-size: 13px;
        }
    }
    p[data-text="footer"]{
        font-size: 5.6px;
        justify-content: center;
        margin-left: 20px;
        align-items: center;
    }
}